SEQUENCER_PRIVATE_KEY=0x_your_sequencer_private_key_here
PINATA_API_KEY=your_pinata_api_key_here


# Permissionless.js + viem demo (optional)
BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
PRIVATE_KEY=0x_your_32_byte_private_key_here
PIMLICO_BUNDLER_URL=https://api.pimlico.io/v2/<chainId>/rpc
BUNDLER_URL_FALLBACKS=https://fallback1.pimlico.io/v2/<chainId>/rpc,https://fallback2.pimlico.io/v2/<chainId>/rpc
PIMLICO_PAYMASTER_URL=https://api.pimlico.io/v2/<chainId>/paymaster
PIMLICO_PAYMASTER_URL_FALLBACKS=https://fallback1.pimlico.io/v2/<chainId>/paymaster,https://fallback2.pimlico.io/v2/<chainId>/paymaster
DESTINATION=0x0000000000000000000000000000000000000000
